.left{
    background-image: url('../assets/pessoa-signup.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}